# Nuxt
.nuxt/
.output/
dist/

# Node
node_modules/

# Env
.env
.env.local

# Uploads (store in object storage in production)
content/uploads/*
!content/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logs
*.log
